<% layout("layouts/boilerplate") -%>
<div class="row">
  <div class="col-md-6 offset-3">
    <div class="card mb-3">
      <img src="<%= campground.image %>" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= campground.location %></li>
        <li class="list-group-item">¥<%= campground.price %>/泊</li>
      </ul>
      <div class="card-body">
        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-info"
          >編集する</a
        >
        <form
      action="/campgrounds/<%= campground._id %>?_method=DELETE"
      method="POST"
      class="d-inline"
    >
      <button class="btn btn-danger">削除する</button>
      </div>
      <div class="card-body">
        <a href="/campgrounds">一覧に戻る
        </a>
      </div>
    </div>
    
    </form>
  </div>
</div>
