<% layout("layouts/boilerplate") -%>
<link rel="stylesheet" href="/stylesheets/stars.css" />

<div class="row">
  <div class="col-md-6">
    <div class="card mb-3">
      <img src="<%= campground.image %>" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= campground.location %></li>
        <li class="list-group-item text-muted">
          登録者: <%= campground.author.username %>
        </li>
        <li class="list-group-item">¥<%= campground.price %>/泊</li>
      </ul>
      <% if(currentUser && campground.author.equals(currentUser._id)) { %>
      <div class="card-body">
        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-info"
          >編集する</a
        >
        <form
          action="/campgrounds/<%= campground._id %>?_method=DELETE"
          method="POST"
          class="d-inline"
        >
          <button class="btn btn-danger">削除する</button>
        </form>
      </div>
      <% } %>
      <div class="card-body">
        <a href="/campgrounds">一覧に戻る </a>
      </div>
    </div>
  </div>
  <div class="col-6">
    <h2>レビュー</h2>
    <% if(currentUser) { %>
    <form
      action="/campgrounds/<%= campground._id %>/reviews"
      method="POST"
      class="form mb-3 validated-form"
      novalidate
    >
      <div class="mb-3">
        <label for="rating" class="form-label">評価</label>
        <fieldset class="starability-basic" id="rating">
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="review[rating]"
            value="0"
            checked
            aria-label="No rating."
          />
          <input
            type="radio"
            id="first-rate1"
            name="review[rating]"
            value="1"
          />
          <label for="first-rate1" title="1">評価: 1</label>
          <input
            type="radio"
            id="first-rate2"
            name="review[rating]"
            value="2"
          />
          <label for="first-rate2" title="2">評価: 2</label>
          <input
            type="radio"
            id="first-rate3"
            name="review[rating]"
            value="3"
          />
          <label for="first-rate3" title="3">評価: 3</label>
          <input
            type="radio"
            id="first-rate4"
            name="review[rating]"
            value="4"
          />
          <label for="first-rate4" title="4">評価: 4</label>
          <input
            type="radio"
            id="first-rate5"
            name="review[rating]"
            value="5"
          />
          <label for="first-rate5" title="5">評価: 5</label>
        </fieldset>
        <div class="valid-feedback">ok!</div>
      </div>
      <div class="mb-3">
        <label for="body" class="form-label">コメント</label>
        <textarea
          class="form-control"
          name="review[body]"
          id="body"
          rows="3"
          required
        ></textarea>
        <div class="valid-feedback">ok!</div>
      </div>
      <button class="btn btn-success">レビューを投稿</button>
    </form>
    <% } %> <% for(let review of campground.reviews) { %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= review.author.username %></h5>
        <p class="starability-result" data-rating="<%= review.rating %>">
          <!-- スクリーンリーダー用 -->
          評価: <%= review.rating %> stars
        </p>
        <p class="card-text">コメント: <%= review.body %></p>
        <% if(currentUser && currentUser._id.equals(review.author._id)) { %>
        <form
          action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger">削除</button>
        </form>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
</div>
